<%- include header.ejs %>

<!--    <link href="<%# baseurl %>/layui/css/layui.css" rel="stylesheet">-->
<link href="https://www.layuicdn.com/layui/css/layui.css" rel="stylesheet">
<!--    <script src="<%# baseurl %>/layui/layui.js"></script>-->
<script src="https://www.layuicdn.com/layui/layui.js"></script>

<html>
<body>
<%- include guideHeader.ejs %>

<div id="archive-container" class="container" role="main">
    <div class="row">
        <h1 class="text-primary page-header">标签云</h1>
        <div class="jumbotron">
            <% for (var tag of tagCloud) { %>
                <a href="/tag/<%= tag.labelInfo %>" class="label label-info"
                   style="line-height: 3"><%= tag.labelInfo %></a>
            <% } %>
        </div>

        <h1 class="text-primary page-header">时间轴</h1>
        <ul class="layui-timeline">
            <% for (var articleList of articleTimeList) { %>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3>
                            <a class="text text-success layui-timeline-title"
                               href="/date/<%= articleList.time %>"><%= articleList.time %></a>
                        </h3>
                        <ul>
                            <% for (var article of articleList.articleList) { %>
                                <li>
                                    <em>
                                        <a style="color: grey"
                                           href="/article/<%= article.articleId %>/detail"><%= article.title %></a>
                                    </em>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </li>
            <% } %>
        </ul>
        <p class="page-header">`</p>
        <img src="../images/猫猫破墙.gif">
    </div>
</div>
<%- include pagefoot.ejs %>
</body>
</html>
