<%- include header.ejs %>
<% var baseURL = "http://localhost:3000/" %>
<link rel="stylesheet" href="<%= baseURL %>/highlight/styles/idea.css">
<script src="<%= baseURL %>/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad()</script>

<html>
<body>
<%- include guideHeader.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <%- articleHTML %>
        </div>
    </div>
</div>
<%- include pagefoot.ejs %>
</body>
</html>