<%- include header.ejs %>
<% var baseurl = "http://localhost:3000/" %>
<html>
<body>
<%- include guideHeader.ejs %>
<script src="<%= baseurl %>/javascripts/moment.js"></script>
<div class="container" role="main" id="article-list-main">
    <div class="row clearfix">
        <h1 id="article-list-title">猫猫都写了啥呢?</h1>
        <img src="<%= baseurl %>/images/猫猫观察.jpg" alt="猫猫观察">
        <div>
            <table class="table table-striped">
                <tbody>
                <tr v-for="article in curLoadArticleList">
                    <td class="col-md-6">
                        <a v-bind:href="'/article/'+article.id+'/detail/'" class="h2 text-info text-center">
                            {{ article.title }}</a>
                    </td>
                    <td class="col-md-4">
                        <h4 class="text-info text-center">{{article.createTime }}</h4>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row clearfix">
        <ul class="pagination">
            <li>
                <a href="#article-list-title" @click="prevPage">Prev</a>
            </li>
            <li v-bind:class="{'active':(curActiveIndex === pageIndex)}" v-for="pageIndex in pageCount">
                <a href="#article-list-title" @click="gotoPage(pageIndex)">{{pageIndex}}</a>
            </li>
            <li>
                <a href="#article-list-title" @click="nextPage">Next</a>
            </li>
        </ul>
    </div>
</div>

<script>
    var vm_article_list_main = new Vue({
        el: "#article-list-main",
        data: {
            pageCount: null,
            curActiveIndex: 1,
            curLoadArticleList: null
        },
        async mounted() {
            var pageCountRes = await axios.get('/article/pageCount');
            this.pageCount = pageCountRes.data;
            var articleListRes = await axios.get('/article/articleList', {params: {page: 1}});
            this.curLoadArticleList = articleListRes.data.articleList;
            this.curActiveIndex = 1;
        },
        methods: {
            gotoPage: async (pageIndex) => {
                var articleListRes = await axios.get('/article/articleList', {
                    params: {
                        page: pageIndex
                    }
                });
                vm_article_list_main.curLoadArticleList = articleListRes.data.articleList;
                vm_article_list_main.curActiveIndex = pageIndex;
            },
            prevPage: async () => {
                if (vm_article_list_main.curActiveIndex === 1) return;
                vm_article_list_main.curActiveIndex--;
                var articleListRes = await axios.get('/article/articleList', {
                    params: {
                        page: vm_article_list_main.curActiveIndex
                    }
                });
                vm_article_list_main.curLoadArticleList = articleListRes.data.articleList;
            },
            nextPage: async () => {
                if (vm_article_list_main.curActiveIndex === vm_article_list_main.pageCount) return;
                vm_article_list_main.curActiveIndex++;
                var articleListRes = await axios.get('/article/articleList', {
                    params: {
                        page: vm_article_list_main.curActiveIndex
                    }
                });
                vm_article_list_main.curLoadArticleList = articleListRes.data.articleList;
            }
        }
    })
</script>

<%- include pagefoot.ejs %>
</body>
</html>
