<%- include header.ejs %>
<html>
<body>
<% include guideHeader.ejs %>
<div class="container" role="main">
    <div class="row">
        <h1 class="page-header">分类:
            <span class="label label-info"><%= tag %></span>
        </h1>
        <img src="../images/猫猫瘫倒.gif" style="width: 150px;height: 150px">
        <table class="table table-striped">
            <tbody>
            <% if(articleList.length === 0) { %>
                <p class="page-header"></p>
                <p>
                    好像没有博客呢...
                </p>
            <% } else { for (var article of articleList){ %>
                <tr>
                    <td class="col-md-6">
                        <h3 class="text-info text-left">
                            <a href="/article/<%= article.articleId %>/detail/">
                                <%= article.title %></a>
                        </h3>
                    </td>
                    <td class="col-md-4">
                        <h3 class="text-info text-center">
                            <a href="/date?date=<%= article.createTime %>">
                                <%= article.createTime %>
                            </a>
                        </h3>
                    </td>
                </tr>
            <% } } %>
            </tbody>
        </table>
    </div>
</div>
<% include pagefoot.ejs %>
</body>
</html>
