<%- include header.ejs %>
<html>
<body>
<%- include guideHeader.ejs %>
<div class="container" role="main">
    <div class="row">
        <h1 class="page-header">
            分类: <%= date %>
        </h1>
        <img src="../images/猫猫打人.gif" alt="qaq" style="height: 120px;width: 120px;">
        <table class="table table-striped">
            <tbody>
            <% if (articleList.length === 0) { %>
                <tr>
                    <p class="page-header"></p>
                    好像没有博客呢...
                </tr>
            <% } else { for (var article of articleList) { %>
                <tr>
                    <td class="col-md-6">
                        <p class="h3 text-info text-left">
                            <a href="/article/<%= article.articleId %>/detail/" >
                                <%= article.title %></a>
                        </p>
                    </td>
                    <td class="col-md-4">
                        <p class="h3 text-info text-center"><%= article.createTime %>
                        </p>
                    </td>
                </tr>
            <% }} %>
            </tbody>
        </table>
    </div>
</div>
<%- include pagefoot.ejs %>
</body>
</html>
